@import url('https://fonts.googleapis.com/css?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(mountain.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

}

.column {
    float:left;
    width: 50%

}

.row:after {
  content: "";
  display: table;
  clear: both;
}

form{
   height: 620px;
    width: 950px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}
form *{
    font-family: 'Poppins', sans-serif;
    color: #000;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 400;
}

input, option, select{
    display: block;
    height: 30px;
    width: 60%;
    background-color: rgba(255,255,255,0.3);
    border-radius: 5px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 200;
}


::placeholder{
    color: #e5e5e5;
}

button{
    margin-top: 50px;
    width: 40%;
    background-color: #ffffff;
    color: #080710;
    padding: 12px;
    font-size: 16px;
    font-weight: 550;
    border-radius: 5px;
    cursor: pointer;
}

@media only screen and (max-width: 720px) {
/* For mobile phones: */
form, .column {
  align-content: center;
  width: 100%;
}
}
